<%= simple_nested_form_for [:admin, @techie] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    <h3>Parents</h3>
    
    <%= f.simple_fields_for :parents do |parent| %>
      <%= render 'relation_field', relation: parent %>
    <% end %>

    <%= link_to_add f, :parents %>

    <h3>Children</h3>

    <%= f.simple_fields_for :children do |child| %>
      <%= render 'relation_field', relation: child %>
    <% end %>

    <%= link_to_add f, :children %>

  </div>
  
  <%= render '/shared/form/form_actions', f: f %>
<% end %>
