<h1><%= @title %></h1>

<%= display_block('Questionnaires', true) %>

<br />
<br />

<%= render layout: '/shared/collapsible_section', locals: { title: 'Search Form' } do %>
  <h3>Search</h3>
  <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :admin_questionnaires_questionnaires do |f| %>
    <%= f.input_field :event_name_cont, placeholder: "Event Name",  required: false %>

    <%= f.input :event_end_date_gt, as: :date, label: "Start Date", start_year: 2012, end_year: max_end_year, include_blank: true, required: false %>
    <%= f.input :event_start_date_lt,   as: :date, label: "End Date", start_year: 2012, end_year: max_end_year, include_blank: true, required: false %>

    <%= f.submit :Search, class: 'btn' %>
  <% end %>
<% end %>

<% if @show_current_term_only %>
  <p>
    By default, this display only includes questionnaires from the current semester. Please use the search form if you want to view older questionnaires.
  </p>
<% end %>

<div class="accordion" id="shows_current_accordion">
  <% @questionnaires.each do |event_name, questionnaires| %>
    <div class="accordion-group">
      <% # If you change the div_name, please also change the anchor for the back buttn on the questionnaire show page. %>
      <% div_name = "#{event_name.to_url}-table" %>
      <div class="accordion-heading">
        <h4>
          <a href="#<%= div_name %>" class="accordion-toggle" data-toggle="collapse" style="display: inline-block;">
            <%= event_name %>
          </a>
        </h4>
      </div>

      <div id="<%= div_name %>" class="accordion-body collapse" style="padding: 0px 10px;">
        <table class="table">
          <tr>
            <th>Questionnaires</th>

            <% if can? :read, Admin::Questionnaires::Questionnaire %>
              <th></th>
            <% end %>

            <% if can? :edit, Admin::Questionnaires::Questionnaire %>
              <th></th>
            <% end %>
          </tr>

          <% questionnaires.each do |questionnaire| %>
            <tr>
              <%= get_link questionnaire, :answer, http_method: :get, html_class: '', append_name: true, wrap_tag: 'td' %>

              <%= get_link questionnaire, :show, link_text: can?(:answer, questionnaire) ? 'View' : nil, html_class: 'btn', wrap_tag: 'td' %>

              <%= get_link questionnaire, :edit, wrap_tag: 'td' %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>

<%= get_link Admin::Questionnaires::Questionnaire, :new %>
<%= get_link Admin::Questionnaires::QuestionnaireTemplate, :index %>
