<h1>Opportunities</h1>

<%= display_block(@editable_block.name, false) %>

<% if @opportunities.count == 0 %>
  <hr />
  <%= display_block("No Opportunities", false) %>
<% end %>

<% @opportunities.each do |opportunity| %>
  <hr   />

  <article>
    <h3><%= opportunity.title %></h3>
    <p><small>This opportunity expires at <%= l opportunity.expiry_date, format: :longy %>.</small></p>
    <div>
      <%= render_markdown opportunity.description %>
    </div>

    <% if opportunity.show_email %>
      <p>
        Please contact <%= opportunity.creator.name %> by clicking <%= mail_to opportunity.creator.email, 'here' %>.
      </p>
    <% end %>
  </article>
<% end %>